In [8]:
import sys
from datetime import datetime
from analysis_helper_functions import calculate_portfolio_returns,calculate_sharpe_ratio
import pandas as pd

In [9]:
#import data
model='rf'
in_sample_long_portfolios=pd.read_csv(f'../data/{model}_results/in_sample_long_portfolios.csv')
in_sample_short_portfolios=pd.read_csv(f'../data/{model}_results/in_sample_short_portfolios.csv')
out_of_sample_long_portfolios=pd.read_csv(f'../data/{model}_results/out_of_sample_long_portfolios.csv')
out_of_sample_short_portfolios=pd.read_csv(f'../data/{model}_results/out_of_sample_short_portfolios.csv')
returns_df=pd.read_csv('../data/returns_df.csv')

In [10]:
#drop unamed 0 from all dataframes
in_sample_long_portfolios=in_sample_long_portfolios.drop(columns='Unnamed: 0')
in_sample_short_portfolios=in_sample_short_portfolios.drop(columns='Unnamed: 0')
out_of_sample_long_portfolios=out_of_sample_long_portfolios.drop(columns='Unnamed: 0')
out_of_sample_short_portfolios=out_of_sample_short_portfolios.drop(columns='Unnamed: 0')
returns_df=returns_df.drop(columns='Unnamed: 0')

In [12]:
in_sample_long_portfolios

              date TICKER  predicted_prob
0       1990-02-01   SUNW             1.0
1       1990-02-01    LTD             1.0
2       1990-02-01    PBI             1.0
3       1990-02-01    CYR             1.0
4       1990-02-01    DLX             1.0
...            ...    ...             ...
175695  2014-08-22    AGN             1.0
175696  2014-08-22   TEVA             1.0
175697  2014-08-22    EOG             1.0
175698  2014-08-22    AZO             1.0
175699  2014-08-22   REGN             1.0

[175700 rows x 3 columns]

In [13]:
returns_df

               date TICKER       RET
0        1990-02-01   SUNW  0.012903
1        1990-02-01    MYG  0.014085
2        1990-02-01   INTC -0.012658
3        1990-02-01     CB  0.005634
4        1990-02-01    BUD -0.026490
...             ...    ...       ...
3266862  2015-12-31    KMI  0.026135
3266863  2015-12-31    ADM -0.005423
3266864  2015-12-31    HPE -0.005236
3266865  2015-12-31    DIS -0.011849
3266866  2015-12-31   TSLA  0.008064

[3266867 rows x 3 columns]

In [15]:
#merge returns_df with in_sample_long_portfolios
in_sample_long_portfolios_returns=pd.merge(in_sample_long_portfolios,returns_df,on=['date','TICKER'])
in_sample_long_portfolios_returns

              date TICKER  predicted_prob       RET
0       1990-02-01   SUNW             1.0  0.012903
1       1990-02-01    LTD             1.0  0.045627
2       1990-02-01    PBI             1.0  0.005780
3       1990-02-01    CYR             1.0  0.005666
4       1990-02-01    DLX             1.0  0.004065
...            ...    ...             ...       ...
176645  2014-08-22    AGN             1.0  0.007178
176646  2014-08-22   TEVA             1.0 -0.002985
176647  2014-08-22    EOG             1.0 -0.008583
176648  2014-08-22    AZO             1.0 -0.000595
176649  2014-08-22   REGN             1.0 -0.002108

[176650 rows x 4 columns]

In [11]:
# Calculate in-sample and out-of-sample returns for long and short portfolios
in_sample_long_returns = calculate_portfolio_returns(in_sample_long_portfolios, returns_df)
out_of_sample_long_returns = calculate_portfolio_returns(out_of_sample_long_portfolios, returns_df)


# Calculate total returns (long + short) REMOVED SHORT
in_sample_total_returns = in_sample_long_returns 
out_of_sample_total_returns = out_of_sample_long_returns 

# Calculate Sharpe ratios
in_sample_sharpe = calculate_sharpe_ratio(in_sample_total_returns)
out_of_sample_sharpe = calculate_sharpe_ratio(out_of_sample_total_returns)

print(f"Average Daily In-Sample Return: {in_sample_total_returns.mean()}")
print(f"Average Daily Out-Of-Sample Return: {out_of_sample_total_returns.mean()}")
print(f"Average Daily In-Sample Standard Deviation: {in_sample_total_returns.std()}")
print(f"Average Daily Out-Of-Sample Standard Deviation: {out_of_sample_total_returns.std()}")
print(f"In-Sample Annualized Sharpe Ratio: {in_sample_sharpe}")
print(f"Out-Of-Sample Annualized Sharpe Ratio: {out_of_sample_sharpe}")

         date TICKER  predicted_prob       RET
0  1990-02-01   SUNW             1.0  0.012903
1  1990-02-01    LTD             1.0  0.045627
2  1990-02-01    PBI             1.0  0.005780
3  1990-02-01    CYR             1.0  0.005666
4  1990-02-01    DLX             1.0  0.004065
date
1990-02-01    0.185906
1990-02-02    0.135928
1990-02-05    0.070006
1990-02-06   -0.000708
1990-02-07    0.163042
Name: RET, dtype: float64
         date TICKER  predicted_prob       RET
0  1992-01-21    DQE             1.0  0.022936
1  1992-01-21    SCE             1.0  0.005882
2  1992-01-21    WAG             1.0  0.013333
3  1992-01-21    BNL             1.0  0.017510
4  1992-01-21    MMC             1.0  0.004717
date
1992-01-21    0.112740
1992-01-22    0.207162
1992-01-23    0.123532
1992-01-24    0.002784
1992-01-27    0.124776
Name: RET, dtype: float64
         date TICKER  predicted_prob       RET
0  1990-02-01    RBD             0.0  0.000000
1  1990-02-01     UN             0.0 -0.004666
2  1990-02-01    APD             0.0  0.000000
3  1990-02-01    XRX             0.0 -0.009009
4  1990-02-01    DUK             0.0  0.000000
date
1990-02-01   -0.048489
1990-02-02   -0.011897
1990-02-05   -0.053008
1990-02-06   -0.053838
1990-02-07    0.070716
Name: RET, dtype: float64
         date TICKER  predicted_prob       RET
0  1992-01-21   CPER             0.0 -0.006250
1  1992-01-21      I             0.0 -0.031746
2  1992-01-21      I             0.0 -0.100000
3  1992-01-21    TGT             0.0 -0.043919
4  1992-01-21    BOL             0.0 -0.032110
date
1992-01-21   -0.324890
1992-01-22    0.021403
1992-01-23   -0.109640
1992-01-24    0.020292
1992-01-27   -0.108759
Name: RET, dtype: float64
Average Daily In-Sample Return: 0.059290255453223466
Average Daily Out-Of-Sample Return: 0.028744995565410197
Average Daily In-Sample Standard Deviation: 0.3726294334928893
Average Daily Out-Of-Sample Standard Deviation: 0.1330114891664373
In-Sample Annualized Sharpe Ratio: 2.522462426558587
Out-Of-Sample Annualized Sharpe Ratio: 3.4211539130749395

In [5]:
in_sample_total_returns

date
1990-02-01    0.234395
1990-02-02    0.147825
1990-02-05    0.123014
1990-02-06    0.053130
1990-02-07    0.092326
                ...
2014-08-18    0.007462
2014-08-19    0.068464
2014-08-20   -0.020049
2014-08-21    0.004260
2014-08-22    0.038313
Name: RET, Length: 6189, dtype: float64