In [1]:
import sys
from datetime import datetime
from analysis_helper_functions import calculate_portfolio_returns,calculate_sharpe_ratio
import pandas as pd

In [2]:
#import data
model='rf'
in_sample_long_portfolios=pd.read_csv(f'../data/{model}_results/in_sample_long_portfolios.csv')
in_sample_short_portfolios=pd.read_csv(f'../data/{model}_results/in_sample_short_portfolios.csv')
out_of_sample_long_portfolios=pd.read_csv(f'../data/{model}_results/out_of_sample_long_portfolios.csv')
out_of_sample_short_portfolios=pd.read_csv(f'../data/{model}_results/out_of_sample_short_portfolios.csv')
returns_df=pd.read_csv('../data/returns_df.csv')

In [3]:
#drop unamed 0 from all dataframes
in_sample_long_portfolios=in_sample_long_portfolios.drop(columns='Unnamed: 0')
in_sample_short_portfolios=in_sample_short_portfolios.drop(columns='Unnamed: 0')
out_of_sample_long_portfolios=out_of_sample_long_portfolios.drop(columns='Unnamed: 0')
out_of_sample_short_portfolios=out_of_sample_short_portfolios.drop(columns='Unnamed: 0')
returns_df=returns_df.drop(columns='Unnamed: 0')

In [4]:
in_sample_long_portfolios

              date TICKER  predicted_prob
0       1990-02-01   SUNW        0.999999
1       1990-02-01   COMM        0.999999
2       1990-02-01  UAECA        0.999999
3       1990-02-01    CKE        0.999999
4       1990-02-01    LYO        0.999999
...            ...    ...             ...
175695  2014-08-22    MJN        0.999999
175696  2014-08-22   PCLN        0.999999
175697  2014-08-22   SBAC        0.999999
175698  2014-08-22   TWTR        0.999999
175699  2014-08-22   AAPL        0.999999

[175700 rows x 3 columns]

In [5]:
# Calculate in-sample and out-of-sample returns for long and short portfolios
in_sample_long_returns = calculate_portfolio_returns(in_sample_long_portfolios, returns_df,'long')
out_of_sample_long_returns = calculate_portfolio_returns(out_of_sample_long_portfolios, returns_df,'long')

in_sample_short_returns = calculate_portfolio_returns(in_sample_short_portfolios, returns_df,'short')
out_of_sample_short_returns = calculate_portfolio_returns(out_of_sample_short_portfolios, returns_df,'short')
# Calculate total returns (long + short) REMOVED SHORT
in_sample_total_returns = in_sample_long_returns + in_sample_short_returns
out_of_sample_total_returns = out_of_sample_long_returns  + out_of_sample_short_returns

# Calculate Sharpe ratios
in_sample_sharpe = calculate_sharpe_ratio(in_sample_total_returns)
out_of_sample_sharpe = calculate_sharpe_ratio(out_of_sample_total_returns)

print(f"Average Daily In-Sample Return: {in_sample_total_returns.mean()}")
print(f"Average Daily Out-Of-Sample Return: {out_of_sample_total_returns.mean()}")
print(f"Average Daily In-Sample Standard Deviation: {in_sample_total_returns.std()}")
print(f"Average Daily Out-Of-Sample Standard Deviation: {out_of_sample_total_returns.std()}")
print(f"In-Sample Annualized Sharpe Ratio: {in_sample_sharpe}")
print(f"Out-Of-Sample Annualized Sharpe Ratio: {out_of_sample_sharpe}")

Average Daily In-Sample Return: 0.08642508822103732
Average Daily Out-Of-Sample Return: 0.04500089391096708
Average Daily In-Sample Standard Deviation: 0.24354278694221956
Average Daily Out-Of-Sample Standard Deviation: 0.12185671385370392
In-Sample Annualized Sharpe Ratio: 5.628152155319606
Out-Of-Sample Annualized Sharpe Ratio: 5.852013731993031

In [5]:
in_sample_total_returns

date
1990-02-01    0.234395
1990-02-02    0.147825
1990-02-05    0.123014
1990-02-06    0.053130
1990-02-07    0.092326
                ...
2014-08-18    0.007462
2014-08-19    0.068464
2014-08-20   -0.020049
2014-08-21    0.004260
2014-08-22    0.038313
Name: RET, Length: 6189, dtype: float64